.gallery{
	position: relative;
}
.gallery-images{
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
}
.gallery-images-image{
	display: block;
	position: relative;
	min-height: 100%; 
	width: auto;
}
.gallery-images-image.mod-error{
	
}
.gallery-images-image.mod-error::before{
	top: 0;
	left: 0;
	content: 'Image not found';
	height: 100%;
	width: 100%;
	position: absolute;
}
.gallery-controlls{
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 12px;
}
.gallery-controlls-button{
	cursor: pointer;
}
.gallery-controlls-button.mod-next{
	margin-left: 12px;
}
.gallery-controlls-button.mod-prev{
	margin-right: 12px;
}
.gallery-controlls-pagination{

}
.gallery-controlls-button{

}